@page "/date"
@using System.Globalization

 <DateInput TValue="DateTime?" @bind-Value="selectedDate"/>

<br>
<Button Color="ButtonColor.Primary" @onclick = "ShowDialog">Sumbit</Button>

<Dialog title="Selected Date" Opened ="dialogShown" CloseButtonClicked="@(() => dialogShown = false)">
    <BodyContent>
        @selectedDate
    </BodyContent>
    
    <FooterContent>
        <Button Color="ButtonColor.Primary">Ok</Button>
    </FooterContent>
</Dialog>

@code {
    DateTime? selectedDate;
    string selectedDateFormatted;

    private bool dialogShown = false;

    async Task ShowDialog()
    {
        if (selectedDate != null)
        {
            selectedDateFormatted = selectedDate.Value.ToString("dd/MM/yyyy");
            dialogShown = true;
        }
    }
}




